/* Document Level Styles */
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

my-app {
  display: block;
  height: 100%;
}

ion-app {
  justify-content: flex-start;
}

ion-page,
stencil-router {
  display: block;
  height: 100%;
}

ion-content {
  height: 100%;
}

.app-hidden {
  display: none;
}
